.card {
  border-radius: 1rem;

  width: 25px;
  margin-top: 5px;
  padding: 5px;
  overflow: hidden;

  justify-content: center;

  // @media (max-width: ) {
  width: 25%;
  position: relative;
}

.card-title {
  align-content: center;
}
