@import '/src/styles/variables';

.card {
  justify-content: center;
  margin: 0.3rem;
  .game-image {
    background-color: $primary-color;
    text-align: center;
    padding: 0.5rem;
  }
  .card-title {
    font-family: 'Alfa Slab One', serif;
    color: $primary-color;
    font-size: 15px;
    margin-top: 0.7rem;
  }
}
