@import '/src/styles/variables';
.MenuFooter {
  background: white;
  height: 100px;
  box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.2);
  justify-content: center;
  font-family: 'Akshar', sans-serif;
  color: $primary-color;
  margin-top: 2rem;
  .list-menu-footer {
    text-align: center;
    padding-top: 1rem;
  }

  p {
    text-align: center;
    padding-top: 1rem;
    font-size: smaller;
  }
}

/* Breakpoint pour les écrans de taille grande (1024) */
/* fait disparaitre la sticky barre */
@media (max-width: 1024px) {
  .MenuFooter {
    display: none;
  }
}
