@import '/src/styles/variables';

.App {
  box-sizing: border-box;

  img {
    width: 150px;
  }
  margin: 0 auto;
  background-color: #ffffff;

  .logo {
    text-align: center;

    img {
      width: 150px;
    }
  }

  h2 {
    color: $primary-color;
    font-size: 2em;
    text-align: center;
  }

  .CardGame {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
  }
}
