.App {
  box-sizing: border-box;

  img {
    width: 150px;
  }
  margin: 0 auto;
  background-color: #ecf0f1;

  width: 500px;
  min-height: 100vh;

  .logo {
    text-align: center;

    img {
      width: 150px;
    }
  }

  h2 {
    color: #0f1231;
    font-size: 2em;
    text-align: center;
  }

  .CardGame {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
  }
}
