@import '/src/styles/variables';

.BtnCate {
  background: $secondary-color;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 50% auto;
  border-radius: 10px;
  color: #ffffff;
  font-family: 'Alfa Slab One', serif;
  font-size: 12px;
}
