.BtnCate {
  background-image: linear-gradient(to right, #ff323e 0%, #ff323e 51%);
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 50% auto;

  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

  color: #eee;
}
