.CardLink {
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #3c325e 51%,
    #2b5876 100%
  );
  margin: 10px;
  padding: 15px;
  text-align: center;
  //text-transform: uppercase;
  transition: 0.5s;
  //background-size: 50% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

  h2 {
    color: white;
    font-family: 'Alfa Slab One', serif;
    font-size: 15px;
  }
}

.CardLink:hover {
  background-position: right center;
  color: #0f1231;
  text-decoration: none;
}
