@import '/src/styles/variables';

.Contact {
  .legend {
    font-family: 'Akshar', sans-serif;

    font-size: small;
  }
  .validation-send-message {
    font-family: 'Akshar', sans-serif;
    background-color: #46bc46;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 25rem;
  }

  .error-message {
    font-family: 'Akshar', sans-serif;
    background-color: $secondary-color;
    padding: 1.5rem;
    border-radius: 10px;
    color: #fff;
    max-width: 25rem;
  }
}
