@import '/src/styles/variables';
// ce menu est visible uniqument en version desktop
.btnGrad {
  text-align: end;
  font-family: 'Alfa Slab One', serif;

  color: $primary-color;
  padding: 0.5rem;

  display: block;
}
